{% load bootstrap3 staticfiles i18n %}
{% get_current_language_bidi as bidi %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    {% if bidi %}
        <link rel="stylesheet"
              href="{% static "bootstrap/css/bootstrap-rtl.css" %}"/>
    {% else %}
        <link rel="stylesheet"
              href="{% static "bootstrap/css/bootstrap.css" %}"/>

    {% endif %}
    <link rel="stylesheet" href="{% static "main.css" %}"/>

    <title>
        {% block title %}

        {% endblock %}
        | ExMan3

    </title>

</head>
<body {% if bidi %}dir="rtl"{% endif %}>

<div class="container">

    {% include "_navbar.html" %}

    {% bootstrap_messages %}

    {% block content %}
        ***CONTENT***
    {% endblock %}

</div>

<script src="{% static "jquery-3.1.0.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "csrf.js" %}"></script>

{% block scripts %}
{% endblock %}

</body>
</html>

